$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?0cb44aea88cdd8163c6982e73b2199a5") format("truetype"),
url("./flaticon.woff?0cb44aea88cdd8163c6982e73b2199a5") format("woff"),
url("./flaticon.woff2?0cb44aea88cdd8163c6982e73b2199a5") format("woff2"),
url("./flaticon.eot?0cb44aea88cdd8163c6982e73b2199a5#iefix") format("embedded-opentype"),
url("./flaticon.svg?0cb44aea88cdd8163c6982e73b2199a5#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "start": "\f101",
    "jquery": "\f102",
    "mysql": "\f103",
);

.flaticon-start:before {
    content: map-get($flaticon-map, "start");
}
.flaticon-jquery:before {
    content: map-get($flaticon-map, "jquery");
}
.flaticon-mysql:before {
    content: map-get($flaticon-map, "mysql");
}
